*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body{
    /* background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.8)), url("/asset/images/sunset.jpg") no-repeat center/cover; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main .caculator__card{
    min-width: 350px;
    max-height: 600px;
    background-color: #fff;
    border: 1px solid rgb(109, 106, 106);
    background-color: #202124;
    border-radius: 10px;
    transition: 0.4s;
    padding: 30px 20px;
}

#main .caculator__card-box{
    width: 90%;
    height: 72px;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin: 20px auto;
}

.caculator__card-box label{
    text-align: right;
    padding: 0 10px;
    height: 36px;
    line-height: 36px;
}

.caculator__card-box .result{
    font-size: 12px;
    color: #969b85;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.caculator__card-box .input{
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip; 
}

#main .caculator__card-box input{
    border: none;
    width: 100%;
    height: 100%;
    background-color: #202124;
}

#main .caculator__card-box .box-result{
    border-radius: 10px 10px 0 0;
}

#main .caculator__card-box .input-item{
    border-radius: 0 0 10px 10px;
}


/* toán tử & toán hạng */

#main .caculator__card-list{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.caculator__card-list .caculator__card-item{
    width: 30%;
    height: 50px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3c4043;
    border-radius: 5px;
    font-weight: bold;
}

.caculator__card-list .caculator__card-item:hover{
    cursor: pointer;
    background-color: #424548;
}

.caculator__card-item.delete{
    background-color: rgb(224, 49, 49);
}

.caculator__card-item.delete:hover{
    background-color: rgb(240, 72, 72);
}

.caculator__card-item.clear{
    background-color: #fc7737;
}

.caculator__card-item.clear:hover{
    background-color: #f7814b;
}

.caculator__card-item.equal{
    background-color: #8ab4f8;
    font-size: x-large;
    font-weight: bolder;
    color: #202124;
}

.caculator__card-item.equal:hover{
    background-color: #aecbfa;
}


